.container{
    margin-bottom: 100px;
}
.carousel-item .img{
    width: 100%;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-caption{
    color:black;
}
.carousel-item{
    padding: 20px 0px 20px 40px;
}
.price{
    color:#ff136f;
}
.by-now{
    background-image: linear-gradient(to bottom,#ff589b 0%, #ff136f 100%);
    color:#fff;
    border:none;
    border-radius: 8px;
    padding:9px 25px;
    cursor:pointer;
}
.cat-1, .cat-2, .cat-3{
    padding:10px 30px;
    border-radius: 10px;
}
.cat-1{
    background-color: rgb(243, 191, 48);
    
}
.cat-2{
    background-color:rgb(219, 96, 215);
}
.cat-3{
    background-color: rgb(47, 47, 234);
}
.categories h1 {
    color:#fff;
}
/* .categories img{
    width:100px;
} */
.card{
    border:none;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 10px;
}
#Subscribe{
    height:300px;
}
#Subscribe h6{
    color:gray;
}
footer{
       text-align: center;
}